{{#extend "styles"}}
	<style type="text/css">
		form {
			width: 400px;
		}
		
		#alert {
			display: none;
		}
	</style>
{{/extend}}

{{#extend "scripts"}}
	<script>
		$(function() {
			$('#submitBtn').on('click', function () {
				var hasMistake = false;
				var name = $('#name').val();
				var number = parseInt($('#number').val(), 10);

				if(!name){
					$('#name').parent().addClass('has-error');
					hasMistake = true;
				}else{
					$('#name').parent().removeClass('has-error');
				}

				if(isNaN(number)){
					$('#number').parent().addClass('has-error');
					hasMistake = true;
				}else{
					$('#number').parent().removeClass('has-error');
				}

				if(hasMistake){
					$('#alert').show();
				}else{
					$('#alert').hide();
				}

				$('#form').get(0).submit();
			});
		});
	</script>
{{/extend}}

<div class="container">
	<div><a href="/">Back</a></div>
	<h1>Create</h1>
	<div class="alert alert-danger" id="alert" role="alert"><strong>You done goofed!</strong> Please correct highlighted fields</div>
	<form action="/docreate" id="form" method="post" role="form">
		<div class="form-group">
			<label class="control-label" for="name">Name (must be string)</label>
			<input class="form-control" id="name" placeholder="Enter name" name="name" type="text">
		</div>
		<div class="form-group">
			<label class="control-label" for="color">Favorite color</label>
			<input class="form-control" id="color" placeholder="Enter color" name="color" type="color">
		</div>
		<div class="form-group">
			<label class="control-label" for="number">Favorite number (must be integer)</label>
			<input class="form-control" id="number" placeholder="Enter number" name="number" type="number">
		</div>
		<div class="form-group">
			You love dinosaurs! (true or false)&nbsp;&nbsp;
			<label class="radio-inline">
				<input checked="checked" id="dinosaurs1" name="dinosaurs" type="radio" value="true"> True
			</label>
			<label class="radio-inline">
				<input id="dinosaurs2" name="dinosaurs" type="radio" value="false"> False
			</label>
		</div>
		<button class="btn btn-default" id="submitBtn" type="button">Submit</button>
	</form>
</div>