<div class="container">
	<div><a href="/">Back</a></div>
	<h1>Create success!</h1>
	You created a bongo with name "{{name}}", color "{{color}}", number "{{number}}", and dinosaurs "{{dinosaurs}}"
</div>