{{#extend "styles"}}
	<style type="text/css">
		b {
			color: #3c763d;
			font-weight: normal;
		}
	</style>
{{/extend}}

<div class="container">
	<div><a href="/">Back</a></div>
	<h1>Delete success!</h1>
	It's done, boss. That bongo <b>"{{name}}"</b> ain't with us no more.
</div>