<div class="container">
	<h1>Whaddup</h1>
	<div><a href="createyoself">Create yo self</a></div>
	<div><a href="readyoself">Read yo self</a></div>
	<div><a href="updateyoself">Update yo self</a></div>
	<div><a href="deleteyoself">Delete yo self</a></div>
</div>