{{#extend "styles"}}
	<style type="text/css">
		b {
			color: #3c763d;
			font-weight: normal;
		}
	</style>
{{/extend}}

<div class="container">
	<div><a href="/">Back</a></div>
	<h1>Update success!</h1>
	You updated the bongo with name <b>"{{name}}"</b> to have color <b>"{{color}}"</b>, number <b>"{{number}}"</b>, and dinosaurs <b>"{{dinosaurs}}"</b>
</div>